
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainHeader{
    position: elative;
    margin: auto;
}
.mainHeader::before{
    content: '';
    position: absolute;
    width: 8%;
    bottom: -60%;
    left: 43%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: brown;
}
.mainHeader::after{
    content: '';
    position: absolute;
    width: 5%;
    bottom: -60%;
    right: 43%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: brown;
}

.heroSelect{
    position: relative;
}
.heroSelect::after{
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}