
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainHeader{
    position: elative;
    margin: auto;
}
.mainHeader::before{
    content: '';
    position: absolute;
    width: 9%;
    bottom: -60%;
    left: 43%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: brown;
}
.mainHeader::after{
    content: '';
    position: absolute;
    width: 5%;
    bottom: -60%;
    right: 43%;
    transform: translate(-50%, -50%);
    height: 3px;
    background-color: brown;
}